---
title: Home
layout: frontpage
group: navigation
---
{% if site.intro-section == "full-width-1" %}
  {% include frontpage/full-width-1.html %}
{% endif %}
{% if site.intro-section == "full-width-2" %}
    {% include frontpage/full-width-2.html %}
{% endif %}
{% if site.section-1-slider == true %}
  {% include frontpage/section-1-slider.html %}
{% elsif site.section-1-slider == false %}
  {% include frontpage/section-1-no-slider.html %}
{% endif %}
<div class="section">
  <div class="container">
    {% include general/services.html %}
    <hr>
  </div>
</div>
<div class="section section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-center">{% markdown frontpage/phone-intro-heading.md %}</h2>
                {% include general/intro-phone.html %}
            </div>
        </div>
    </div>
</div>
{% if site.testimonials == true %}
<div class="section-3 section">
    <div class="container">
        <div class="row">
          {% include general/testimonials.html %}
        </div>
    </div>
</div>
{% endif %}
{% if site.team == true %}
  {% include general/team.html %}
{% endif %}
