<!-- Intro Header -->
  <header class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="brand-heading">{{ site.title }}</h1>
            {% markdown frontpage/intro.md %}
            {% include general/intro-phone.html %}
            <div class="page-scroll">
              <a href="#internal-main">
                <i class="fa fa-chevron-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
