<div class="section section-1" id="internal-main">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        {% markdown frontpage/lead.md %}
      </div>
      <div class="col-md-6 col-md-offset-1">
        {% include general/slider.html %}
        <div class="text-center">
          <div class="lead topspace">
            {% markdown frontpage/phone-intro-heading.md %}
          </div>
          {% include general/intro-phone.html %}
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
