<!DOCTYPE html>
<html>

  {% include layouts/head.html %}

    <body class="main{% if page.title %} {{ page.title }}{% else %}{{ site.title }}{% endif %}">

    {% if site.header-option == 1 %}
      {% include layouts/header.html %}
    {% endif %}
    {% if site.header-option == 2 %}
      {% include layouts/header-2.html %}
    {% endif %}
    {% if site.header-option == 3 %}
      {% include layouts/header-3.html %}
    {% endif %}

    {{ content }}

    {% include layouts/footer.html %}

    </body>

</html>
